streamlit
googlesearch-python
requests
bs4 
pandas 
numpy==1.24.3
spacy==3.5.0
thinc==8.1.7
scikit-learn
matplotlib
urllib3
altair
streamlit_quill
google-search-results
nltk
sentence-transformers
transformers
people_also_ask
typing


https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
