streamlit
googlesearch-python
requests
bs4 
pandas 
numpy==1.24.3
spacy==3.5.0
thinc==8.1.7
scikit-learn
matplotlib
urllib3
altair
streamlit-quill
google-search-results
nltk
sentence-transformers
transformers
people_also_ask
typing
torch
sentence_transformers
google-ads
nltk
torch
transformers
people_also_ask
sentence_transformers
wordcloud
st_login_form
python-dotenv
supabase
plotly
textstat
beautifulsoup4
streamlit_oauth
google-api-python-client
google-auth-httplib2
google-ads
google-auth
google-auth-oauthlib
streamlit-cookies-controller

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
